.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #000;
}

.header .logo {
    max-height: 32px;
}

.header .header__title-group {
    padding-left: 20px;
}

.header .header__title-group em {
    padding-right: 5px;
}