<mat-card class="create-card__create">
    <mat-card-title class="create-card__title">Novo Produto</mat-card-title>
    <form class="create-card__form">
        <mat-form-field class="create-card__form__name">
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary" class="create__save">
        Salvar produto
    </button>
    &nbsp;
    <app-product-cancel-button></app-product-cancel-button>
</mat-card>
