.nav-container__sidenav {
  background: #3f51b5;
  width: 200px;
}

.nav-container__sidenav a {
  color: #fff;
}
.nav-container__sidenav em {
  padding-right: 10px;
}

.nav-container__content {
  padding: 16px;
  background-color: #fff;
}